<div class="p-3">
    <div class="card">
        <div class="card-header">
            Product ID = {{productId}}
        </div>
        <div class="card-body" *ngIf="productFormGroup">
            <form [formGroup]="productFormGroup" (ngSubmit)="updateProduct()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" formControlName="price">
                </div>
                <div class="mb-3">
                    <label for="checked" class="form-label">Checked</label>
                    <input type="checkbox" class="form-check-input" formControlName="checked">
                </div>
                <button [disabled]="productFormGroup.invalid" type="submit" class="btn btn-success">Submit</button>
            </form>

        </div>
    </div>
</div>