<div  class="p-3">
    <div class="card">
        <div class="card-body">
      <!-- Generationn de formulaire avec la deuxieme methode:FormsModule -->
      <input type="text" [(ngModel)]="keyword">
      <button (click)="handleSearch()" class="btn btn-outline-success">Search</button>
          


           <table class ="table">
                <thead>
                     <tr>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Checked</th>
                     </tr>
                </thead>
                <tbody>
                    <!--tr *ngFor="let product of products$ | async "-->
                      <tr *ngFor="let product of products">

                          <td>{{product.name}}</td>
                          <td>{{product.price}}</td>
                          <td>
                            <button (click)="handleCheckProduct(product)"
                            class="btn btn-outline-success">
                                <i [class]="product.checked ? 'bi bi-check-circle' : 'bi bi-circle'"></i>
                            </button>
                          </td>
                          <td>
                               <button (click)="handleDelete(product)"
                               class="btn btn-outline-danger">
                                     <i class="bi bi-pencil-square"></i>
                               </button>
                          </td>
                     </tr>
                    </tbody>
                </table>
        </div>

    </div>
</div>